@import url('https://fonts.cdnfonts.com/css/clash-display');


.wrapper-title{
    font-family: 'Clash Display', sans-serif;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 3rem;
    font-weight: bold;
    color: rgb(235, 75, 179);
}