@import url('http://fonts.cdnfonts.com/css/clash-display');


.wrapper{
    margin:  auto;
    position: absolute;
    /* top: 50%; */
    margin-top: 10rem;
    left: 50%;
    transform: translate(-50%,-50%);
    
    font-size:xx-large;
    font-family: 'Clash Display', sans-serif;
    border-style: solid;
    border-radius: 30px;
    padding: 20px;
    background-color: rgb(6, 242, 214);
}

.inputfield{
    font-size: large;
}

#calculateButton{
    font-size: large;
}
